h1
{text-align: center; background-color: #76D7C4; color: white; font-family: Freestyle Script; font-size:90px }

h2
{text-align: center; color: #F1948A ; font-family: mv boli; font-size: 40px }

h5
{text-align: center; background-color: #76D7C4; color: white; font-family: century gothic;}
table
{border-collapse: collapse; font-family: verdana}

p
{text-align: center; background-color:#FDEDEC ; font-family: calibri; font-size: 30px}


body
{background-image: url("images/bg1.jpg");}

